body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-container {
  text-align: center;
}

.weather-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-container > ul > li{
  margin-bottom: 1rem;
  font-weight: 800;
}

.weather-icon > h2{
  text-transform: capitalize;
}